body{
  
}

nav {

}

h1 {
  background-color: gray;
  color: #1d3557;
  font-family: 'Libre Baskerville', serif;

}

h2 {
  background-color: gray;
  color: white;
  font-family: 'Noto Sans', sans-serif;
}

p {
  font-family: 'Noto Sans', sans-serif;
}
